# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\beelain_task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
